<template>
  <svg
    :width="width"
    :height="height"
    viewBox="0 0 18 19"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
        d="M15.718 3.93733C15.2248 3.94356 14.7473 4.11177 14.3591 4.41604C13.9709 4.72031 13.6935 5.14376 13.5696 5.62119C13.4456 6.09863 13.4821 6.60355 13.6734 7.05821C13.8646 7.51286 14.2001 7.89204 14.628 8.13733V12.0963C14.5882 13.1023 14.1516 14.0516 13.4139 14.7367C12.6762 15.4218 11.6972 15.787 10.691 15.7523C9.71397 15.7835 8.76206 15.4396 8.03054 14.7912C7.29902 14.1428 6.84335 13.239 6.757 12.2653C8.02537 12.0019 9.16438 11.3098 9.9826 10.3055C10.8008 9.30116 11.2484 8.04577 11.25 6.75033V1.28733C11.2498 1.09237 11.182 0.903507 11.0582 0.752901C10.9344 0.602295 10.7622 0.499256 10.571 0.461328L8.36 0.0183283C8.25152 -0.00338321 8.13983 -0.00350576 8.03131 0.0179676C7.92279 0.0394411 7.81956 0.0820895 7.72753 0.143476C7.6355 0.204862 7.55646 0.283782 7.49494 0.375726C7.43343 0.467671 7.39063 0.570837 7.369 0.679328L7.256 1.23133C7.23429 1.3398 7.23417 1.45149 7.25564 1.56002C7.27711 1.66854 7.31976 1.77177 7.38115 1.8638C7.44253 1.95583 7.52145 2.03487 7.6134 2.09638C7.70534 2.1579 7.80851 2.2007 7.917 2.22233L9 2.43633V6.70433C9.00276 7.14754 8.91819 7.58695 8.75113 7.99748C8.58407 8.40801 8.33778 8.78162 8.02633 9.09696C7.71489 9.41231 7.34438 9.66323 6.93596 9.83539C6.52754 10.0075 6.08921 10.0976 5.646 10.1003C5.20279 10.1031 4.76337 10.0185 4.35284 9.85146C3.94232 9.6844 3.56871 9.43811 3.25336 9.12666C2.93802 8.81522 2.6871 8.44471 2.51494 8.03629C2.34279 7.62787 2.25276 7.18954 2.25 6.74633V2.44033L3.329 2.22633C3.43749 2.2047 3.54066 2.1619 3.6326 2.10038C3.72455 2.03887 3.80347 1.95983 3.86485 1.8678C3.92624 1.77577 3.96889 1.67254 3.99036 1.56402C4.01183 1.45549 4.01171 1.3438 3.99 1.23533L3.878 0.682328C3.85638 0.573734 3.81355 0.470472 3.75196 0.378452C3.69038 0.286433 3.61125 0.207463 3.51911 0.146065C3.42696 0.0846669 3.32361 0.0420458 3.21498 0.0206417C3.10634 -0.000762429 2.99455 -0.000529099 2.886 0.0213283L0.679 0.457328C0.487438 0.496094 0.315176 0.599916 0.191423 0.751191C0.0676694 0.902465 3.96135e-05 1.09188 0 1.28733L0 6.75033C0.00131066 8.0467 0.449646 9.30296 1.2694 10.3072C2.08915 11.3115 3.23016 12.0024 4.5 12.2633C4.58477 13.8352 5.27729 15.3126 6.43124 16.3833C7.58518 17.454 9.11017 18.0342 10.684 18.0013C12.2868 18.0354 13.8379 17.4331 14.9977 16.3262C16.1574 15.2193 16.8314 13.698 16.872 12.0953V8.13533C17.3042 7.88669 17.6415 7.50155 17.8311 7.04039C18.0206 6.57923 18.0516 6.06818 17.9192 5.58749C17.7868 5.10681 17.4984 4.68372 17.0995 4.38468C16.7005 4.08564 16.2135 3.92758 15.715 3.93533L15.718 3.93733ZM15.75 6.75033C15.6386 6.75033 15.5297 6.71728 15.4371 6.65538C15.3445 6.59347 15.2723 6.50548 15.2298 6.40255C15.1872 6.29961 15.1761 6.18636 15.1979 6.07712C15.2197 5.96789 15.2734 5.86757 15.3523 5.78887C15.4311 5.71018 15.5315 5.65663 15.6408 5.63502C15.7501 5.61341 15.8633 5.62471 15.9661 5.66747C16.069 5.71024 16.1569 5.78255 16.2186 5.87527C16.2803 5.96799 16.3132 6.07693 16.313 6.18833C16.3125 6.33739 16.253 6.48018 16.1475 6.58549C16.042 6.6908 15.8991 6.75006 15.75 6.75033Z"
        :fill="fill"
    />
  </svg>
</template>

<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 18
    },
    height: {
      type: [Number, String],
      default: 18
    },
    fill: {
      type: String,
      default: '#9CA6BA'
    }
  }
}
</script>
