<template>
    <div class="notes_container">
        <p class="text-ibm-plex-sans loading" v-if="loading">
          {{ $t('Loading') }}
          <font-awesome-icon icon="spinner" class="fa-lg" spin />
        </p>
        <div class="notes_header">
          <Button id="notesShowBtn" :label="$t('alter_tag_notes')" :color="'primary'" @click="showModal()"/>
        </div>
        <div class="notes-data-container" v-for="note of notes" :key="note.Id">
            <div class="note-data">
                <div class="action-taken">{{note.CategoryToDisplay}} {{ note.ActionTaken }}</div>
                <div class="comments"> {{ note.Comments }}</div>
                <div class="user-desc dark-text">Posted by: {{ note.UserDescription}} </div>
                <div class="user-desc dark-text"> on: {{ getFormattedDate(note.Timestamp)}}  {{note.TimeZoneAbb}} </div>
            </div>
        </div>
        <div v-if="addingNote">
            <Modal
            :headingText="$t('alter_tag_notes')"
            v-show="showModal"
            @close="closeModal"
            @click="addNote"
            >
            <div slot="body">
                <Select class="tagsSelect" name="tagsSelect" :label="$t('select_patient_tags')" v-model="tags" :allOptions="tagsOptions"  :is-multi-select="true" :orientation="'v'"/>
                <TextArea class="note-input" name="noteInput" :label="$t('notes')" v-model="comments" :orientation="'v'" :placeholderText="$t('type_your_note_here')"/>
            </div>
            </Modal>
        </div>
    </div>
</template>

<script>

import { mapActions } from 'vuex'
import Button from '@/app/shared/components/Button'
import Modal from '../../../../shared/components/Modal.vue'
import Select from '../../../../shared/components/Select.vue'
import TextArea from '@/app/shared/components/TextArea'

export default {
  name: 'Notes',
  components: {
    Button,
    Modal,
    Select,
    TextArea
  },
  data () {
    return {
      loading: true,
      addingNote: false,
      notes: [],
      tagsOptions: [],
      tags: [],
      comments: ''
    }
  },
  props: {
    patientId: {
      type: String,
      default: null
    }
  },
  methods: {
    ...mapActions('Notes', ['getPatientNotes', 'addTagsAndNote']),
    async showModal () {
      this.addingNote = true
    },
    async addNote () {
      this.addingNote = false
      this.loading = true
      var patientId = this.$route.params.patientId
      await this.addTagsAndNote({ patientId: patientId, patientTags: this.tags, comment: this.comments })
      const response = await this.getPatientNotes(patientId)
      this.notes = response.notes
      this.tags = response.tags
      this.tagsOptions = response.tagsOptions
      this.comments = ''
      this.loading = false
    },
    getFormattedDate (strDate) {
      const date = new Date(strDate)
      return `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}`
    },
    closeModal () {
      this.addingNote = false
    }
  },
  async mounted () {
    const response = await this.getPatientNotes(this.$route.params.patientId)
    this.notes = response.notes
    this.tags = response.tags
    this.tagsOptions = response.tagsOptions
    this.loading = false
  }
}
</script>

<style lang="scss" scoped>
.notes_container {
  background-color: var(--background-color-primary-light-dark);
  padding: 10px;
}
.notes_header {
  display:flex;
  justify-content: flex-end;
  margin: 10px 0 20px 0;
  align-items: center;
}

.notes-data-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border-radius: 4px;
  margin-bottom: 10px;
}

.note-data {
  background: var(--notes-box-color);
  border: 1px solid var(--input-border);
  box-sizing: border-box;
  border-radius: 8px;
}

.action-taken {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0125em;
  color: var(--text-primary-color);
  margin: 10px 0px 10px 10px;
  width: 70%;
}

.comments {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.0125em;
  display: flex;
  color: var(--text-primary-color);
  margin-left: 10px;
  width: 70%;
}

.user-desc {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 183%;
  text-align: right;
  letter-spacing: 0.015em;
  margin-right: 10px;
}

.loading {
  margin-top: 10px !important;
  text-align: center;
}

</style>
